
body {
    margin-bottom: 50px;
}

/* Header */
header {
    background: #3a3a3a;
    padding: 10px 80px;
    color: #c1c1c1;
    position: fixed;
    width: 100%;
    z-index: 2 ;
    top: 0;
}

header h4 {
    text-align: right;
}

header h1 {
    text-align: right;
}

#top_div {
    margin-top: 117px;
    text-align: center;
    background: #c1c1c1;
    padding: 10px;
    font-size: 20pt;
}

#logo {
    font-size: 90px;
}

/* Footer */
footer {
    background: #3a3a3a;
    color: #c1c1c1;
    width: 100%;
    height:50px;
    position: fixed;
    bottom: 0;
}
footer a {
    float: right;
    color: #c1c1c1;
    font-size: 30px;
    margin: 5px 10px;
}

footer a:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: white;
}

#hero_image {
    background: url(../images/code_half.jpg);
    background-size: cover;
    width: 100%;
}

/* Project Cards */
.project_card_box {
    background: #d2d2d2;
    margin: 0px 50px 50px 50px;
    border: #3a3a3a solid 5px;
    border-radius: 5px;
    padding: 3px;
}

.project_cards {
    text-align: center;
    opacity: 1;
}

.project_cards a {
    color: dimgray;
}

.project_cards h3 {
    background: white;
    width: fit-content;
    padding: 4px 20px;
    border-radius: 4px;
    text-align: left;

}

.project_cards a:hover {
    color: dimgray;
}

.project_card:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px 30px;
    }
    header h1 {
        font-size: 20px;
    }

    header h4 {
        font-size: 12px;
    }

    #logo {
        font-size: 60px;
        margin-top: 7px;
    }
}